@{
    ViewData["Title"] = "Movie List";
}
<table>
    <thead>
        <tr>
            <td>Category</td>
            <td>Title</td>
            <td>Year</td>
            <td>Director</td>
            <td>Rating</td>
            <td>Edited</td>
            <td>Lent</td>
            <td>Notes</td>
        </tr>

    </thead>
</table>
